:root {
    --thm-base: #1266e3;
    --thm-base-rgb: 18, 102, 227;
}



.logo-box-style1 a img {
    filter: grayscale(1);
}

.experience-box__inner-content {
    background-color: #0d59cb;
}

.footer-logo-style1 a img {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
}