:root {
    --thm-base: #FFA500;
    --thm-base-rgb: 255, 165, 0;
}


.logo-box-style1 a img {
    filter: grayscale(1);
}

.experience-box__inner-content {
    background-color: #d18803;
}

.footer-logo-style1 a img {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
}